html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html, body, main {
  height: 100%;
  background-color: #FFAAAA;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bunny {
  box-shadow: 3px 3px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
}

.logo_content {
  position: relative;
  width: 4em;
  height: 4em;
  background-color: #e25959;
  border-radius: 50%;
}

.logo__heart, .logo__money {
  position: absolute;
  top: .5em;
  right: .5em;
  width: 3em;
  height: 3em;
}

.logo__heart {
  top: -.5em;
  right: -.5em;
  animation: linear infinite alternate;
  animation-name: logo;
  animation-duration: 2s;
}

@-webkit-keyframes logo {
  0% { right: -1em;}
  50%{ right : -.8em;}
  100%{ right: -1em;}
}

.box {
  border: 4px solid #444a53;
  border-radius: 10px;
  background-color: #D66A6A;
}
